/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}


/* MAIN PAGE										 */
/* ===================================================================================== */


.bpm_section_intro{
    float:left;
    margin:10px 0px 10px 20px;
    padding:10px 10px 10px 10px;
    /*background: #ffeb55 url(images/album_modules_header.png) repeat-x scroll left top;*/
    width:950px;
}

.bpm_section_intro .icon{
    float:left;
    height:64px;
    width:64px;
    margin:0px 10px 0px 0px;
}

.bpm_section_intro .title{
    float:left;
    width:870px;
    font-size:22px;
    font-weight:bold;
    font-family: Arial,sans-serif;
    margin:8px 0px 3px 0px;
}

.bpm_section_intro .details {
    float:left;
    width:870px;
    font-size:12px;
    font-family: Helvetica,Arial,sans-serif;
    line-height:14px;
    margin:0px 0px 5px 2px;
}


/* VERTICAL PARENT TABS									 */
/* ===================================================================================== */

.tabs_v {
    border-color:#EBEBEB rgb(204, 204, 204) rgb(204, 204, 204) rgb(235, 235, 235);
    background: #fff url(images/blue_fade.png) scroll left top no-repeat;
    border:solid #ccc;
    border-width:0px 1px 0px 1px;
    margin:0px 10px 0pt 5px;
    padding:0px 0px 70px 0px;
    float:left;
    width:1000px;
    min-height:500px;
}

.tabs_v .parent_panel {
    float:left;
    background: url(images/v_tabs_parent_menu.png) scroll left top repeat-y;
    margin:0px 0px 0px 30px;
    border-left: solid 1px #ccc;
}

.tabs_v .parent_panel .parent_nav {
    background:url(images/v_tabs_parent_menu_top.png) no-repeat scroll left top;
    list-style: none;
    font-size:12px;
    width:150px;
    margin:0px 10px 0px 0px;
    padding:15px 0px 0px 0px;
    float:left;
}

.tabs_v .parent_panel .parent_nav li {
    float: left;
    width:100%;
    padding: 0px;
    margin: 0px !important;
    text-decoration: none;
    list-style: none;
}

.tabs_v .parent_panel .parent_nav li {
    display:block;
    background: url(images/v_tabs_parent_menu_unselected.png) repeat-x scroll left top;
    float:none;
    text-align:left;
    padding:0px;
    margin: 0px 0px 0px 0px !important;
    text-decoration: none;
    list-style: none;
    height:30px;
    width:155px;
    font-weight:bold;
}

.tabs_v .parent_panel .parent_nav a {
    margin: 0px 1px 0px 1px; /* position: relative makes opacity fail for disabled tab in IE */
    padding:0px 0px 0px 5px;
    color: #2583AD;
    line-height:30px;
    text-align: left;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */
    outline: 0; /* prevent dotted border in Firefox */
    text-align:left;
}

.tabs_v .parent_panel .parent_nav a,
.tabs_v .parent_panel .parent_nav a span {
    display: block;
    padding: 0 1px;
    
}

.tabs_v .parent_panel .parent_nav li.tab_selected {
    background: url(images/v_tabs_parent_menu_arrow.png) repeat-x scroll left top;
    border-color: #6D6D6D;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #333333;
    font-weight:bold;
}

.tabs_v .parent_panel .parent_nav li.tab_selected a{
    color:#fff;
    text-shadow: 0 -1px 0 #333333;
    margin-left:10px;
    cursor: text;
}

.tabs_v .parent_panel .parent_nav li.tab_default a{
    color:#21759B;
    margin-left:10px;
    cursor: pointer;
}


/* MODULE CONFIG HEADER									 */
/* ===================================================================================== */

.tabs_v .parent_panel .module_panel{
    float:left;
    width:736px;
    margin-left:10px;
}


/* Primary header block */

.bpm_module_header{
    float:left;
    border: solid #999;
    border-width:0px 0px 0px 0px;
    width:602px;
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 8px 8px;
    background: #626161 url(images/album_module_header.png) no-repeat scroll left top;
    border:solid 1px #333;
}

.bpm_module_header .icon{
    float:left;
    width:75px;
    height:75px;
    margin:0px 10px 0px 0px;
    border: solid 1px #333;
    background-color:#fff;
}

.bpm_module_header .square_icon{
    float:left;
    width:75px;
    height:75px;
    margin:0px 10px 0px 0px;
    border: solid 1px #333;
    background:#fff;
}

.module_filler{
    float:left;
    height:299px;
    width:700px;
    margin:20px 20px 20px 20px;
    background: url(images/filler.png) no-repeat scroll left top;

}

.bpm_module_header .admin{
    float:left;
    width:500px;
    margin: 3px 0px 0px 0px;
}

.bpm_module_header .admin .title_block {
    float:left;
    margin: 0px 0px 2px 0px;
    width:100%;

}

.bpm_module_header .admin .title_block .title {
    float:left;
    font-size: 18px;
    font-family: Verdana,Arial,sans-serif;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #333333;
    font-weight: bold;
    border:none;
}

.bpm_module_header .admin .title_block .actions {
    float:right;
    font-size:14px;
    padding: 0px 0px 0px 0px;
    margin:1px 0px 0px 0px;
    line-height:100%;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #333333;
    border:none;
}

.bpm_module_header .admin .title_block .actions a {
    font-size:12px;
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;    
    font-weight:bold;
    color: #FFFFFF;
    border:none;
}

.bpm_module_header .admin .title_block .actions a:hover {
    color: #FFFF33;
}

.bpm_module_header .admin .description {
    float:left;
    font-size:12px;
    line-height:120%;
    width:100%;
    margin:3px 0px 0px 0px;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #333333;
}

/* Status Block */

.bpm_module_status{
    float:left;
    border: solid #999;
    border-width:0px 0px 0px 0px;
    width:116px;
    height:34px;
    margin: 0px 0px 0px 5px;
    padding: 0px;
    background: #626161;
    border:solid 1px #333;
}

.bpm_module_status .message{
    float:left;
    border: none;
    margin:3px 0px 0px 4px;
}

.bpm_module_status .message .icon_working{
    float:left;
    height:16px;
    width:16px;
    background: url(images/module_working.png) no-repeat scroll left top;
}

.bpm_module_status .message .icon_deactivated{
    float:left;
    height:16px;
    width:16px;
    background: url(images/module_deactivated.png) no-repeat scroll left top;
}

.bpm_module_status .message .icon_warning{
    float:left;
    height:16px;
    width:16px;
    background: url(images/module_warning.png) no-repeat scroll left top;

}

.bpm_module_status .message .icon_error{
    float:left;
    height:16px;
    width:16px;
    background: url(images/module_error.png) no-repeat scroll left top;
}


.bpm_module_status .message .text{
    float:left;
    line-height:16px;
    color:#ffffff;
    margin:0px 0px 0px 3px;
    font-size:12px;
    font-weight:bold;
    text-shadow: #333 1px 1px 0 ;
}

.bpm_module_status .detail{
    float:left;
    line-height:8px;
    color:#ffffff;
    margin:2px 0px 0px 5px;
    font-size:8px;
    text-shadow: #333 1px 1px 0 ;
}


/* Control Block */

.bpm_module_control{
    float:left;
    border: solid #999;
    border-width:0px 0px 0px 0px;
    width:116px;
    height:52px;
    margin: 5px 0px 0px 5px;
    padding: 0px;
    background: #626161;
    border:solid 1px #333;
}

.bpm_module_control .actions {
    float:left;
    border: none;
    margin: 5px 0px 0px 0px;
}

.bpm_module_control .actions .action,
.bpm_module_control .actions .action a {
    color:#ffffff;
    float: left;
    font-size: 11px;
    font-weight:normal;
    line-height:14px;
    margin: 0px 0px 0px 10px;
    padding:0px;
    text-decoration:none;
    text-shadow: #333 1px 1px 0 ;
    cursor:pointer;
}

.bpm_module_control .actions .action:hover,
.bpm_module_control .actions .action:hover a {
    color:#ffff00;
}

.bpm_module_header .admin .footer {
    float:left;
    font-size:11px;
    line-height:100%;
    width:100%;
    margin:7px 0px 3px 0px;
    padding: 0px 10px 0px 0px;
}

.bpm_module_header .admin .footer .item {
    float:left;
    margin:0px 3px 0px 0px;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #333333;
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    font-weight:bold;
}

.bpm_module_header .admin .footer .item a {
    text-decoration:none;
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    font-weight:bold;
    color: #FFFFFF;
}

.bpm_module_header .admin .footer .item a:hover {
    color: #ffff33;
}

.bpm_module_header .admin .footer .spacer {
    float:left;
    margin:0px 6px 0px 3px;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #333333;
}

.bpa_module_separator {
    float:left;
    width:695px;
    height:0px;
    padding:0px;
    margin:0px 0px 0px 8px;
    border: 1px solid #dcdcdc;
}


/* HORIZONTAL CHILD TABS								 */
/* ===================================================================================== */

.child_tabs_h {
    float:left;
    border:none;
    margin:5px 5px 0pt 0px;
    padding:0px;
    display: block;
    font-size:13px;
    overflow:hidden;
}

.child_tabs_h .child_nav {
    float:left;
    display: block;
    font-size:13px;
    width:695px;
    border-width:0px 0px 0px 0px;
    border-color:#CCC #CCC #CCC #CCC;
    margin:0px;
    padding:0px;
}

.child_tabs_h .child_nav li {
    float:left;
    width:auto;
    padding:0px 5px 0px 5px;
    margin:0px 1px 1px 0px;
    border: solid #ccc;
    border-width: 1px 1px 0px 1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background:#f8f8f8;
}

.child_tabs_h .child_nav li.tab_selected {
    background:#6D6D6D;
    border: solid #6D6D6D;
    border-width: 1px 1px 0px 1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.child_tabs_h .child_nav li.tab_selected a {
    font-weight:bold;
    text-shadow: 0 -1px 0 #333333;
    border-color: #6D6D6D;
    color: #FFFFFF;
    cursor: text;
    margin:0px;
    padding:1px 3px 1px 3px;
}

.child_tabs_h .child_nav li.tab_default a {
    cursor: pointer;
    margin:0px;
    padding:1px 3px 1px 3px;
}


.child_tabs_h .child_nav a {
    margin: 0px 1px 0px 1px;
    padding:0px 0px 0px 0px;
    color: #2583AD;
    line-height:20px;
    height:16px;
    text-align: left;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */
    outline: 0; /* prevent dotted border in Firefox */
    text-align:left;
}

.child_tabs_h .child_panel {
    float:left;
    border:solid 1px #ccc;
    /*background-color:#f5f5ff;*/
    background-color:#fff;
    width:733px;
    min-height:400px;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}

/* MODULE CONFIG BODY									 */
/* ===================================================================================== */

.child_tabs_h .child_panel .bpm_tip_wrap{
    float:left;
    width:100%;
}

.child_tabs_h .child_panel .bpm_section_advice {
    float:left;
    font-size:10px;
    line-height:120%;
    width:98%;
    margin:-3px 0px 7px 10px;
}

.child_tabs_h .child_panel .bpm_tip{
    float:left;
    width:640px;
    margin:15px 20px 0px 40px;
    padding:4px 2px 0px 6px;
    background-color:#ffffbb;
    border:solid 1px #eee;
}

.child_tabs_h .child_panel .bpm_tip_text {
    float:left;
    font-size:10px;
    line-height:120%;
    min-height:32px;
    width:90%;
    margin:5px 0px 0px 12px;
}

.child_tabs_h .child_panel .panel_section {
    float:left;
    border: solid 1px #eee;
    width:660px;
    padding:15px;
    margin: 25px 0px 5px 20px;
}

.child_tabs_h .child_panel .panel_section .title {
    float:left;
    border: none;
    background:#fff;
    padding:3px 10px 3px 10px;
    margin:-28px 0px 0px 0px;
    font-size:16px;
    font-weight:bold;
}

.child_tabs_h .child_panel .panel_section .form-table{
    margin:0px 0px 0px 0px;
    border:0px;
}


.child_tabs_h .child_panel .panel_section .form-table th{
    width:300px;
}

.child_tabs_h .child_panel .w10 .form-table th{
    width:10%;
}

.child_tabs_h .child_panel .w15 .form-table th{
    width:15%;
}

.child_tabs_h .child_panel .w20 .form-table th{
    width:20%;
}

.child_tabs_h .child_panel .w25 .form-table th{
    width:25%;
}

.child_tabs_h .child_panel .w30 .form-table th{
    width:30%;
}

.child_tabs_h .child_panel .w35 .form-table th{
    width:35%;
}

.child_tabs_h .child_panel .w40 .form-table th{
    width:40%;
}

.child_tabs_h .child_panel .w45 .form-table th{
    width:45%;
}

.child_tabs_h .child_panel .w50 .form-table th{
    width:50%;
}

.child_tabs_h .child_panel .w55 .form-table th{
    width:55%;
}

.child_tabs_h .child_panel .w60 .form-table th{
    width:60%;
}

.child_tabs_h .child_panel .w65 .form-table th{
    width:65%;
}

.child_tabs_h .child_panel .w70 .form-table th{
    width:70%;
}

.child_tabs_h .child_panel .w75 .form-table th{
    width:75%;
}

.child_tabs_h .child_panel .w80 .form-table th{
    width:80%;
}

.child_tabs_h .child_panel .w85 .form-table th{
    width:85%;
}

.child_tabs_h .child_panel .w45 .form-table th{
    width:90%;
}

.child_tabs_h .child_panel .panel_section table.form-table tbody tr.alt {
    background-color: #f9f9fa;
    border-top: solid 1px #f7f7fc;
}

.child_tabs_h .child_panel .panel_section table.form-table tbody tr {
    background-color: #FFF;
    border-bottom: solid 1px #f7f7fc;
    border-spacing:0px;
}

.child_tabs_h .child_panel .submit {
    float:right;
    margin-right:22px;
}



/* MODULE CONFIG FOOTER									 */
/* ===================================================================================== */

.bpa_module_footer {
    float:left;
    width:100%;
    margin: 25px 0px 0px 0px;

}

.bpa_module_footer .separator{
    float:left;
    width:655px;
    height:0px;
    padding:0px;
    margin:0px 0px 0px 10px;
    border: 1px solid #dcdcdc;
}

.bpa_module_footer .button {

    float:right;
    background:url("images/button-grad.png") repeat-x scroll left top #21759B;
    font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    border-color:#298CBA;
    color:#FFFFFF;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);
    -moz-border-radius:11px 11px 11px 11px;
    -moz-box-sizing:content-box;
    border-style:solid;
    border-width:1px;
    cursor:pointer;
    font-size:11px !important;
    line-height:13px;
    padding:3px 8px;
    margin:-5px 60px 0px 0px;
    text-decoration:none;
}


/* SUBMIT BUTTONS / BUTTON GROUPS							 */
/* ===================================================================================== */


.bpm_submit_v_panel_wrap {

	float:right;
	margin: 0px 20px 0px 0px;
}